/* Layout Setup */
.navbarHieght {
  height: 10vh;
}

/* Left Sidebar (Fixed for Large Screens) */
.sidebar-lg {
  width: 300px;
  height: calc(100vh);
  position: fixed;
  top:  10vh;
  left: 0;
  background-color: white;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}


/* Navbar Item Hover */
.nav-item:hover {
  background-color: #7ab4ba;
  color: rgb(9, 9, 19);
  border-radius: 5px;
}

@media screen and (max-width: 992px) {
  #offcanvasLeft {
    height: 100vh;
    width: 80vw;
    max-width: 400px;
  }
}

.btn-login{
  background-color: #7ab4ba;
  border-radius: 5px;

}
